
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url('../vhimg/2.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    color :white
}

header img {
    width: 100px;
    height: auto;
}
.canhan img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;       
    border: 4px solid #333;           
}
.canhan h2,
.canhan h3,
.canhan p {
    color: white;
}

nav {
    background-color: #151515;
    text-align: center;
    text-decoration: none;
}

nav a {
    display: inline-block;
    color: #fff;
    padding: 14px 20px;
    text-decoration: none;
    border-right: 2px solid rgb(221, 234, 234);
    transition: background 0.3s;
}

nav a:hover {
    background-color: #555;

}
.muctieu{
    padding: 20px;

    margin: 20px ;
    border-radius: 10px;
    color:white;

}
section {
    padding: 20px;
    background-color: rgba(35, 34, 34, 0.9);
    margin: 20px auto;
    border-radius: 10px;
    color:white;
    width:80%;
    max-width: 900px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(66, 65, 65, 0.8);
    color: #fff;
}
article {
    padding: 20px;
    background-color: rgba(68, 66, 66, 0.9);
    margin: 20px auto;
    border-radius: 10px;
    color:rgb(242, 240, 240);
    width:80%;
    max-width: 900px;

}

